
*.vsidx
*.vsidx
KNXBoostDesktop/KNXBoostDesktop/obj
/KNXBoostDesktop/KNXBoostDesktop/obj
KNXBoostDesktop/KNXBoostDesktop/obj/
/KNXBoostDesktop/KNXBoostDesktop/obj/
KNXBoostDesktop/KNXBoostDesktop/bin
/KNXBoostDesktop/KNXBoostDesktop/bin
KNXBoostDesktop/KNXBoostDesktop/bin/
/KNXBoostDesktop/KNXBoostDesktop/bin/
/KNXBoostDesktop/KNXBoostDesktop/bin/Debug/net8.0-windows/logs
/KNXBoostDesktop/.vs/KNXBoostDesktop/v17
/KNXBoostDesktop/.vs
/KNXBoostDesktop/.vs/
/KNXBoostDesktop/.idea/
/KNXBoostDesktop/.idea
/KNXBoostDesktop/KNXBoostDesktop/.vs
KNXBoostDesktop/KNXBoostDesktop/obj/Debug/net8.0-windows/apphost.exe
KNXBoostDesktop/KNXBoostDesktop/obj/Debug/net8.0-windows/apphost.exe
/KNXBoostDesktop/KNXBoostDesktop/font/__MACOSX/._aptos.ttf
/KNXBoostDesktop/KNXBoostDesktop/font/__MACOSX/._aptos-black.ttf
/KNXBoostDesktop/KNXBoostDesktop/font/__MACOSX/._aptos-black-italic.ttf
/KNXBoostDesktop/KNXBoostDesktop/font/__MACOSX/._aptos-bold.ttf
/KNXBoostDesktop/KNXBoostDesktop/font/__MACOSX/._aptos-extrabold.ttf
/KNXBoostDesktop/KNXBoostDesktop/font/__MACOSX/._aptos-extrabold-italic.ttf
/KNXBoostDesktop/KNXBoostDesktop/font/__MACOSX/._aptos-extrabold-italic 2.ttf
/KNXBoostDesktop/KNXBoostDesktop/font/__MACOSX/._aptos-italic.ttf
/KNXBoostDesktop/KNXBoostDesktop/font/__MACOSX/._aptos-light.ttf
/KNXBoostDesktop/KNXBoostDesktop/font/__MACOSX/._aptos-light-italic.ttf
/KNXBoostDesktop/KNXBoostDesktop/font/__MACOSX/._aptos-semibold.ttf
/KNXBoostDesktop/KNXBoostDesktop/font/aptos.ttf
/KNXBoostDesktop/KNXBoostDesktop/font/aptos-black.ttf
/KNXBoostDesktop/KNXBoostDesktop/font/aptos-black-italic.ttf
/KNXBoostDesktop/KNXBoostDesktop/font/aptos-bold.ttf
/KNXBoostDesktop/KNXBoostDesktop/font/aptos-extrabold.ttf
/KNXBoostDesktop/KNXBoostDesktop/font/aptos-extrabold-italic.ttf
/KNXBoostDesktop/KNXBoostDesktop/font/aptos-extrabold-italic 2.ttf
/KNXBoostDesktop/KNXBoostDesktop/font/aptos-italic.ttf
/KNXBoostDesktop/KNXBoostDesktop/font/aptos-light.ttf
/KNXBoostDesktop/KNXBoostDesktop/font/aptos-light-italic.ttf
/KNXBoostDesktop/KNXBoostDesktop/font/aptos-semibold.ttf
/KNXBoostDesktop/KNXBoostDesktop/resources/BOOST-2.png
/KNXBoostDesktop/KNXBoostDesktop/resources/BOOST-2bis.ico
/KNXBoostDesktop/KNXBoostDesktop/resources/download (1).svg
/KNXBoostDesktop/KNXBoostDesktop/KNXBoostDesktop_4vkzizkw_wpftmp.csproj
