
*.vsidx
*.vsidx
KNXBoostDesktop/KNXBoostDesktop/obj/rider.project.model.nuget.info
/KNXBoostDesktop/KNXBoostDesktop/obj/Debug
/KNXBoostDesktop/KNXBoostDesktop/bin/Debug/net8.0-windows/logs
/KNXBoostDesktop/.vs/KNXBoostDesktop/v17
